.recipe-form__container {
    .recipe-field__label {
        margin-bottom: 1rem;
        font-size: 14px;
        font-weight: 600;
        margin-top: 1.5rem;
    }
    .recipe-category__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
    .recipe-level__list {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
}
