.admin-header__management {
    padding: 18.5px 0;
    .admin-header__logo-text {
        font-weight: 600;
        font-size: 1.5rem;
        .text-green {
            color: green;
        }
    }
}
.profile_toggler-menu {
    @media screen and (max-width: 768px) {
        position: relative;
        right: 50px;
    }

    &.keep-position {
        @media screen and (max-width: 768px) {
            right: 0;
        }
    }
}
