.home__list-category__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 10px 0;
    padding-left: 0.6rem;
}
.home-category-list__title,
.home-list__title {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}
.category-list__item {
    background-color: #d8e2dc;
    border-radius: 14px;
    width: 150px;
    height: 200px;
    margin-bottom: 15px;
    display: grid;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}
.view-week {
    background-color: #d8e2dc;
    border-radius: 14px;
    width: 240px;
    height: 365px;
    align-items: center;
    margin: 16px 16px 16px 0;
    justify-content: center;
}
.view-top {
    display: grid;
    padding-right: 5px;
    justify-content: left !important;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-view {
    margin-top: 15px;
    margin-bottom: 30px;
    display: block;
    margin-left: 20px;
}
.view-info {
    grid-area: info;
}
.view-img-container {
    grid-area: img;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.view-desc {
    grid-area: desc;
}
.view-btn {
    padding: 0.35rem;
    border-radius: 14px;
    cursor: pointer;
    background-color: #e8e8e4;
    grid-area: btn;
    border: none;
    font-size: 1.25rem;
    transition: 100ms ease-in-out;
}
.view-btn-disabled {
    padding: 0.35rem;
    border-radius: 14px;
    background-color: #94d2bd;
    grid-area: btn;
    border: none;
    font-size: 1.25rem;
    transition: 100ms ease-in-out;
}
.view-btn:hover {
    background-color: #f0f3f3;
    color: white;
}

.view-img {
    width: 100%;
    height: 190px;
    border-radius: 20px;
    object-fit: cover;
    flex-shrink: 0;
    padding: 10px;
}
.view-img-category {
    width: 100%;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
    padding: 0px 5px;
}

.recipe__category-name {
    font-size: 16px;
    text-align: center;
}

.recipe-info__text-view a {
    font-size: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-dish__item {
    cursor: pointer;
}

.home-recipe__item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.recipe-info__text-view {
    padding: 0 1.5rem 1rem 1.5rem;
}
