.input-container {
    margin-bottom: 1.5rem;
    .input {
        border: 1px solid #dadee3;
        border-radius: 5px;
        padding: 16px 16px;
        font-size: 18px;
        font-weight: 400;
        display: block;
        width: 100%;
        background-color: #fff;
        color: #444;
        &:focus {
            outline: none;
        }
    }
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 18px;
        font-weight: 600;
        &.should-bold {
            font-weight: 500;
        }
        span {
            color: red;
        }
    }
    select.input {
        width: 50%;
        &.full {
            width: 100%;
        }
        @media (max-width: 991px) {
            width: 95%;
        }
    }
    textarea.input {
        resize: vertical;
    }
    &.row {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        margin-bottom: 2.5rem;
        label {
            min-width: 200px;
        }
    }
    &.mb-0 {
        margin-bottom: 0;
    }
}
.input-wrapper {
    position: relative;
    .error-message {
        position: relative;
        top: -20px;
        &.normal {
            top: 2px;
        }
    }
    &.row {
        .error-message {
            position: absolute;
            left: 240px;
            top: 50px;
        }
    }
}
