.account-list__container {
    min-height: 600px;
}
.pending-blogs__container {
    min-height: 700px;
}
.category-image__preview {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    img {
        max-width: 100%;
        max-height: 250px;
        object-fit: contain;
    }
}
