.client-blog__list-container {
    min-height: 80vh;
    margin-bottom: -40px;
}
.blog-list_item {
    .blog-list_item-media {
        width: 100px;
        height: 100px;
        @media (max-width: 500px) {
            width: 40px;
            height: 40px;
        }
    }
    .blog-list_item-avatar {
        width: 100px;
        height: 100px;
        object-fit: cover;
        @media (max-width: 500px) {
            width: 40px;
            height: 40px;
        }
    }
    .blog-list_item-actions_icon {
        font-size: 24px;
        cursor: pointer;
    }
    .blog-list_item-actions {
        button {
            background: none;
            display: flex;
            align-items: center;
            gap: 4px;
            border: none;
        }
    }
}
.client-blog-detail__container {
    min-height: 80vh;

    .blog-detail__loader-container {
        margin: 2.5rem 0;
        display: flex;
        justify-content: center;
        .blog-detail__loader-icon {
            font-size: 1.5rem;
        }
    }
}
.blog-comments__list-container {
    display: flex;
    justify-content: flex-end;
    .blog-comments__list {
        width: calc(100% - 116px);
        @media (max-width: 500px) {
            width: calc(100% - 56px);
        }
    }
}
.comment-form__container {
    display: flex;
    justify-content: flex-end;
    .comment-form__inner {
        width: calc(100% - 116px);
        @media (max-width: 500px) {
            width: calc(100% - 56px);
        }
    }
}
.blog-item__content {
    &.hide-content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    img {
        max-width: 100%;
    }
}
.blog-list_item-content-text {
    line-break: auto;
    word-break: break-all;
    max-width: 100%;
}
.blog-list_item__title {
    margin-top: 0.5rem;
    a {
        color: #070707;
        &:hover {
            color: var(--green-color);
        }
    }
}
