.client-blog__list-container {
    min-height: 80vh;
    .blog-list__loader-container {
        margin: 2.5rem 0;
        display: flex;
        justify-content: center;
        .blog-list__loader-icon {
            font-size: 1.5rem;
        }
    }
}
.blog-list_item {
    .blog-list_item-avatar {
        width: 100px;
        height: 100px;
        object-fit: contain;
        @media (max-width: 500px) {
            width: 40px;
            height: 40px;
        }
    }
    .blog-list_item-actions_icon {
        font-size: 24px;
        cursor: pointer;
    }
    .blog-list_item-actions {
        button {
            background: none;
            display: flex;
            align-items: center;
            gap: 4px;
            border: none;
        }
    }
}
.client-blog-detail__container {
    min-height: 80vh;
    .blog-detail__loader-container {
        margin: 2.5rem 0;
        display: flex;
        justify-content: center;
        .blog-detail__loader-icon {
            font-size: 1.5rem;
        }
    }
}
.blog-comments__list-container {
    display: flex;
    justify-content: flex-end;
    .blog-comments__list {
        width: calc(100% - 116px);
        @media (max-width: 500px) {
            width: calc(100% - 56px);
        }
    }
}
