.bmi-recipe__item {
    max-width: 300px;
    margin-right: 1rem;
    margin-left: 1rem;
    img {
        width: 100%;
        height: 250px;
        object-fit: contain;
        border-radius: 1rem;
    }
    a {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: #58af00;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        height: 48px;
        margin-bottom: 0.5rem;
        @media (max-width: 768px) {
            font-size: 18px;
        }
        @media (max-width: 475px) {
            font-size: 15px;
        }
    }
}
.min-width-120 {
    min-width: 120px;
}

.bmi-form__wrapper {
    img {
        max-width: 350px;
    }
    @media (max-width: 700px) {
        img {
            display: none;
        }
    }
}
.bmi-form__info-unedit {
    @media (max-width: 630px) {
        flex-direction: column;
        align-items: flex-start !important;
    }
}
.bmi-form__info-row {
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 8px !important;
    }
}
.bmi__choose-main-ing__row {
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start !important;
    }
}
.bmi-option__titles {
    h3 {
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 0;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 1.5rem !important;
    }
}
