.bmi-recipe__item {
    max-width: 300px;
    margin-right: 1rem;
    margin-left: 1rem;
    img {
        width: 100%;
        height: 250px;
        object-fit: contain;
        border-radius: 1rem;
    }
    a {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: #58af00;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        height: 48px;
        margin-bottom: 0.5rem;
    }
    &:last-child {
        margin-right: 0;
        margin-left: 0;
    }
}
.min-width-120 {
    min-width: 120px;
}
