.profile__banner-top {
    .profile-avatar__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .profile-avatar {
            width: 180px;
            height: 180px;
            border-radius: 100%;
            object-fit: cover;
            position: relative;
            top: -90px;
            cursor: pointer;
            @media (max-width: 768px) {
                width: 90px;
                height: 90px;
                top: -45px;
            }
        }
        .profile-avatar__upload {
            position: relative;
            top: -80px;
            @media (max-width: 768px) {
                top: -40px;
            }
        }
    }
}
.profile-favourite__recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    @media (max-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 375px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .profile-favourite__recipe-item {
        background: #ffffff;
        box-shadow: 0px 8px 32px -8px rgba(0, 55, 12, 0.12);
        border-radius: 12px;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
        a {
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            color: #58af00;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            height: 48px;
            @media (max-width: 768px) {
                font-size: 18px;
            }
            @media (max-width: 475px) {
                font-size: 15px;
            }
        }
    }
}
.edit-profile__field-row {
    @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start !important;
        input,
        select {
            width: 100% !important;
        }
    }
}
.text-larger {
    font-size: larger;
}
