.profile__banner-top {
    .profile-avatar__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .profile-avatar {
            width: 180px;
            height: 180px;
            border-radius: 100%;
            position: relative;
            top: -90px;
            @media (max-width: 768px) {
                width: 90px;
                height: 90px;
                top: -45px;
            }
        }
        .profile-avatar__upload {
            position: relative;
            top: -85px;
            @media (max-width: 768px) {
                top: -40px;
            }
        }
    }
}
.profile-favourite__recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    .profile-favourite__recipe-item {
        img {
            width: 100%;
            height: 250px;
            object-fit: contain;
            border-radius: 1rem;
        }
        a {
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            color: #58af00;
        }
    }
}
