.home_view-search-container {
    display: flex;
    margin-bottom: 1rem;
    gap: 0.5rem;
    .home_input-search {
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid #d3dfd6;
        padding: 12px 10px;
    }
    @media (max-width: 500px) {
        flex-direction: column;
        gap: 1rem;
    }
}
.btn-search {
    border-radius: 5px;
    border: 1px solid #09f143;
    justify-content: center;
    padding: 8px 18px;
    font-size: 20px;
    background: #caebd2;
    @media (max-width: 500px) {
        width: fit-content;
    }
}
.btn-search:hover {
    background: aqua;
    border-color: aqua;
}
.home-carousel__banner-img {
    height: 500px;
    @media (max-width: 991px) {
        height: 400px;
    }
    @media (max-width: 768px) {
        height: 300px;
    }
    @media (max-width: 500px) {
        height: 200px;
    }
}
