.main-logo__name {
    color: #333;
}
.header-menu__link {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1.5rem 0 0;
    height: 100%;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    &.active {
        color: var(--green-color);
    }
    &:hover {
        transition: all 0.2s ease-in-out;
        color: var(--green-color);
    }
}
.auth-links {
    @media (max-width: 768px) {
        position: relative;
        right: 60px;
    }
}
