.text-back {
    text-decoration: none;
}

.sucmsg {
    color: rgb(14, 8, 8);
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    text-align: center;
}

.change-password__container {
    display: flex;
    .bgr-fotgot-left {
        background-image: url(../../assets/img/img4.jpg);
        height: 700px;
        width: 50%;
    }
    @media (max-width: 900px) {
        flex-direction: column-reverse;
        .bgr-fotgot-left {
            width: 100%;
        }
    }
    .auth-input {
        border: 1px solid #ccc;
        margin-bottom: 6px;
    }
    .auth-input__container {
        position: relative;
        .auth-input__icon {
            position: absolute;
            right: 16px;
            top: 18px;
            cursor: pointer;
            font-size: 20px;
        }
    }
}
.forgot-password__container {
    display: flex;
    .bgr-fotgot-left {
        background-image: url(../../assets/img/img4.jpg);
        height: 700px;
        width: 50%;
    }
    .email {
        input.form-control {
            &:focus {
                outline: none !important;
                box-shadow: none;
            }
            border: 1px solid #dadee3;
            border-radius: 5px;
            padding: 16px 16px;
            font-size: 16px;
            font-weight: 400;
        }
    }
    @media (max-width: 900px) {
        flex-direction: column-reverse;
        .bgr-fotgot-left {
            width: 100%;
        }
    }
}
