.login-form__container {
    display: flex;
    .left {
        background-image: url(../../img/img4.jpg);
        height: 700px;
        width: 50%;
    }
    .right-login {
        height: 700px;
        padding: 20px;
        background: #dbd0d0;
        flex: 1;
        .form-group {
            position: relative;
            margin: 8px 0px;
            input {
                padding: 5px 10px;
                font-size: 18px;
                width: 100%;
                display: block;
                border: 1px solid #ccc;
            }
        }
        .login-title {
            font-size: 60px;
            margin-top: 20px;
            text-align: center;
        }
        .login-bottom__txt {
            margin-top: 15px;
        }
        .label {
            font-size: 16px;
        }
    }
    @media (max-width: 900px) {
        flex-direction: column-reverse;
        .left {
            width: 100%;
        }
    }
}
.container-login {
    justify-content: center;
    margin: 20px 60px;
}

.login-background {
    margin: 0 auto;
}

.btnLogin {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    outline: none;
    border-radius: 4px;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 0.4rem;
}
.login__page-title {
    font-size: 50px;
    text-align: center;
}

.img {
    width: 100%;
    border: 16px;
}

[class*='col-'] {
    width: 100%;
}

.imgEye {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 10px;
    top: 12px;
}
