.new-password__container {
    max-width: 500px;
    margin: 3.5rem auto;
    min-height: 60vh;
}
.toggle-password__type {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 55px;
}
