@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.register-body {
    padding: 0 0 10px 0;
}
.register-section__container {
    display: flex;
    .main-register {
        padding: 1rem;
        max-width: 600px;
        margin: auto;
        flex: 1;
        .register-form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-grow: 1;
            padding-bottom: 10px;
        }

        .instructions {
            font-size: 12px;
            border-radius: 5px;
            padding: 3px;
            position: relative;
            bottom: -10px;
        }

        .instructions > svg {
            margin-right: 0.25rem;
        }

        .offscreen {
            position: absolute;
            left: -900px;
        }

        .hide {
            display: none;
        }

        .valid {
            color: limegreen;
            margin-left: 3px;
        }

        .invalid {
            color: red;
            margin-left: 3px;
        }

        .errmsg {
            background-color: lightpink;
            color: firebrick;
            font-weight: bold;
            padding: 5px;
            margin-bottom: 5px;
        }
        .row::after {
            content: '';
            clear: both;
            display: table;
        }
        [class*='col-'] {
            width: 7%;
        }
        .imgEye {
            cursor: pointer;
            position: absolute;
            width: 20px;
            right: -30px;
            top: 58px;
        }
        .register-btn__submit {
            margin-top: 1.5rem;
            border: 1px solid #ccc;
            padding: 0.5rem;
        }
        .register-form__label {
            display: block;
            margin-bottom: 0.5rem;
            span {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    @media (max-width: 900px) {
        flex-direction: column;
        .main-register {
            max-width: 100%;
            margin: 0;
        }
    }
}
.register-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 1.5rem;
    text-align: center;
}
