@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.register-body {
    padding: 10px 0;
}
.register-section__container {
    display: flex;
    .left {
        background-image: url(../../assets/img/img4.jpg);
        height: 800px;
        width: 50%;
    }
    @media (max-width: 900px) {
        flex-direction: column-reverse;
        .left {
            width: 100%;
        }
    }
    .right {
        flex: 1;
        height: 800px;
        padding: 40px;
        a,
        a:visited {
            color: rgb(0, 0, 0);
        }

        input[type='text'],
        input[type='password'],
        button,
        textarea {
            font-family: 'Nunito', sans-serif;
            font-size: 18px;
            border-radius: 5px;
        }
        label {
            margin-top: 1rem;
        }
        input {
            border: 1px solid #ccc;
            padding: 7px 10px;
        }
        .register-form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-grow: 1;
            padding-bottom: 10px;
        }

        .instructions {
            font-size: 12px;
            border-radius: 5px;
            color: #fff;
            padding: 3px;
            position: relative;
            bottom: -10px;
        }

        .instructions > svg {
            margin-right: 0.25rem;
        }

        .offscreen {
            position: absolute;
            left: -900px;
        }

        .hide {
            display: none;
        }

        .valid {
            color: limegreen;
            margin-left: 3px;
        }

        .invalid {
            color: red;
            margin-left: 3px;
        }

        .errmsg {
            background-color: lightpink;
            color: firebrick;
            font-weight: bold;
            padding: 5px;
            margin-bottom: 5px;
        }

        .line {
            display: inline-block;
        }

        .row::after {
            content: '';
            clear: both;
            display: table;
        }
        [class*='col-'] {
            width: 7%;
        }

        .imgEye {
            cursor: pointer;
            position: absolute;
            width: 20px;
            right: -30px;
            top: 58px;
        }
        .register-btn__submit {
            margin-top: 1.5rem;
            border: 1px solid #ccc;
            padding: 0.5rem;
        }
    }
}
.register-title {
    font-size: 50px;
    margin-bottom: 0;
}
