.viewImg {
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
}
.viewImg img {
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius: 5px;
}
.viewImg img.active {
    opacity: 1;
    border: 1px solid lightseagreen;
}
.main-app__content-container {
    min-height: 90vh;
}
