@import './assets/styles/utilities.scss';

:root {
    --primary-color: #667eea;
    --dark-color: #333333;
    --white-gray-color: #f2f2f2;
    --border-color: #797979;
    --red-color: #f53838;
    --blue-blur-color: #ebf3ff;
    --blue-color: #1871c2;
    --green-badge-bg-color: #d2eed5;
    --yellow-color: #fdcc0d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.navbar-nav .nav-link.active {
    color: rgb(255, 0, 0) !important;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
}
.custom-page__container {
    max-width: 1250px;
    margin: 2.5rem auto;
    @media (max-width: 1250px) {
        padding: 0 1rem;
    }
}

ul,
li {
    list-style-type: none;
}
