@import './assets/styles/utilities.scss';

:root {
    --primary-color: #667eea;
    --dark-color: #333333;
    --white-gray-color: #f2f2f2;
    --border-color: #797979;
    --red-color: #f53838;
    --blue-blur-color: #ebf3ff;
    --blue-color: #1871c2;
    --green-badge-bg-color: #d2eed5;
    --yellow-color: #fdcc0d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.navbar-nav .nav-link.active {
    color: rgb(255, 0, 0) !important;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
}
.custom-page__container {
    max-width: 1250px;
    margin: 2.5rem auto;
    @media (max-width: 1250px) {
        padding: 0 1rem;
    }
    &.custom-page__container-no__margin {
        margin: 0 auto;
    }
}

ul,
li {
    list-style-type: none;
}

ul {
    padding-left: 0 !important;
}
.divDisabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
}
.custom-page__container-management {
    max-width: 1550px;
    margin: 0 auto;
    @media (max-width: 1550px) {
        padding: 0 1rem;
    }
}

input:focus {
    outline: none;
}
.global-list__loader-container {
    margin: 3.5rem 0;
    display: flex;
    justify-content: center;
    .global-list__loader-icon {
        font-size: 1.5rem;
    }
}
.global-list_search {
    width: 320px;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 4px 0.5rem 0 0.5rem;
    .global-list_search-icon {
        font-size: 24px;
    }
}
.mw-60-px {
    max-width: 60px;
}
.custom-card {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.custom-row .custom-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
