.recipe-detail__container {
    min-height: 85vh;
    .top-info__container {
        display: flex;
        gap: 1rem;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .img-view-detail {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
    .img-recipe__gallery-item {
        width: 92px;
        height: 92px;
        margin: 10px 5px;
        object-fit: contain;
        flex-shrink: 0;
        cursor: pointer;
    }
    .view-ingredient {
        font-size: 20px;
    }
    .view-title {
        margin: 1rem 0;
    }
    .view-video {
        background-color: aqua;
    }
    .view-top {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        visibility: visible;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 300px;
    }

    .view-list-cmt {
        padding: 18px;
        border-radius: 14px;
        margin-bottom: 15px;
        display: grid;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
        background-color: #eef3f0;
    }
    .txt-cmt {
        padding-top: 10px;
        font-size: 12px;
    }
    .txt-p {
        font-size: 20px;
    }
    .menu-cmt {
        font-size: 28px;
    }
}
.recipe-detail__add-to__favourite-btn {
    max-height: 44px;
}
