.recipe-detail__container {
    min-height: 85vh;
    .top-info__container {
        display: flex;
        gap: 1.5rem;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
    .img-view-detail {
        width: 650px;
        height: 400px;
        border-radius: 24px;
        object-fit: cover;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    .img-recipe__gallery-item {
        width: 118px;
        height: 118px;
        margin: 10px 5px;
        object-fit: cover;
        cursor: pointer;
    }
    .view-ingredient {
        font-size: 20px;
    }
    .view-title {
        margin: 1rem 0;
    }
    .view-video {
        background-color: aqua;
    }
    .view-top {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        visibility: visible;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 300px;
    }
    .view-list-cmt {
        padding: 18px;
        border-radius: 14px;
        margin-bottom: 15px;
        display: grid;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
        background-color: #eef3f0;
    }
    .txt-cmt {
        padding-top: 10px;
        font-size: 12px;
    }
    .txt-p {
        font-size: 20px;
    }
    .menu-cmt {
        font-size: 28px;
    }
    .right-recipe__detail {
        .recipe-name {
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
        }
        .recipe-info__item {
            font-size: 20px;
        }
        .recipe-ing__title {
            font-weight: 400;
            font-size: 28px;
            line-height: 56px;
        }
    }
    .left-view {
        align-self: flex-start;
    }
}
.recipe-detail__add-to__favourite-btn {
    max-height: 44px;
}

.recipe-detail__menu {
    border-right: 2px solid #ccc;
    padding-right: 1.5rem;
    min-width: fit-content;
    ul {
        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 56px;
            background-color: rgba(217, 217, 217, 0.16);
            margin-bottom: 0.5rem;
            cursor: pointer;
            padding: 0 2rem;
            &.is-active {
                background-color: #d9d9d9;
            }
        }
    }
}
.recipe-detail__desc {
    .recipe-desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 56px;
    }
}
