@import '~antd/dist/antd.css';

.comment-action__count {
    font-size: 16px;
}

[class*='-col-rtl'] .comment-action {
    padding-right: 8px;
    padding-left: 0;
}

.icon-like {
    display: none;
}
.icon-like.active {
    display: block;
}
.icon-dislike {
    display: none;
}

.icon-dislike.active {
    display: block;
}
.recipe-action__comment-icon {
    font-size: 16px;
    cursor: pointer;
}
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #eee;
    border-color: #eee;
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}
.page-cmt {
    text-align: center;
}
.comment-item__container {
    .comment-item__change-actions {
        visibility: hidden;
    }
    &:hover {
        .comment-item__change-actions {
            visibility: visible;
        }
    }
}
